<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/' + 'login.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Display a success message if the form submission was successful -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-container">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('auth.login') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/' + 'flash_messages.js') }}"
    ></script>
</body>
</html>
